@import '~scss/variables';

html { box-sizing: border-box; }

body, html {
  color: $font-color;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
}

input, textarea { outline: none; }

body { background-color: $background-color; }


// IE HACK COLORED BG !!! BEACAUSE @supports is not hoisted
@supports (display: grid) { section.colored-bg { transform: skewY(-4deg); } } // sass-lint:disable-line force-element-nesting
@supports (display: grid) { section.colored-bg * { transform: skewY(4deg); } } // sass-lint:disable-line force-element-nesting
// /COLORED BG !!!


main {
  margin: 0;
  padding: 0;

  section {
    margin: 0;
    padding: 0 $space-xl;

    &.colored-bg {
      background-color: $colored-bg-color;
      color: $colored-bg-font-color;
      margin-bottom: $space-ridiculous;
      margin-top: $space-ridiculous;
      padding: $space-xxl;
      width: 100vw;

      h1 { margin-top: 0; }

      p {
        font-size: $big-font-size;
        font-weight: 300;
        line-height: $big-line-height;
        padding: 0;
        text-align: left;
      }

    }



    &.colored-bg-inversed {
      background-color: $colored-bg-color;
      color: $colored-bg-font-color;
      margin-bottom: $space-ridiculous;
      margin-top: $space-ridiculous;
      padding: $space-xxl;
      width: 100vw;

      h2 {
        margin-top: 0;
        padding: 0;
      }

      p {
        font-weight: 300;
        padding: 0;
        text-align: left;

        @media screen and (min-width: $first-break-point) {
          font-size: $big-font-size;
          line-height: $big-line-height;
        }
      }

    }



    &.end {
      background-color: $primary-color;
      color: $colored-bg-font-color;
      margin-top: $space-ridiculous;
      padding: $space-xxl;
      width: 100vw;

      h1 { margin-top: 0; }

      p {
        font-size: $big-font-size;
        font-weight: 300;
        line-height: $big-line-height;
        margin-bottom: $space-ridiculous;
        padding: 0;
        text-align: left;

        &.disabled-text {
          color: $primary-color-disabled;
          margin-bottom: $space-l;
        }

      }

    }

  }

}

p {

  .main-line {
    font-size: $big-font-size;
    line-height: $big-line-height;
    margin-bottom: $space-l;

    strong {
      color: $secondary-color;
      font-weight: 700;
    }
  }

  .disabled-text {
    color: $font-color-secondary;
    margin-bottom: $space-l;
  }

}


.end-spacer { margin-bottom: 3 * $space-ridiculous; }

@import '~scss/header';
@import '~scss/typography';
